@media all and (max-width: 350px) 
{
    .career-cards .card
    {
       padding: 20px !important;
    }
}

.careers-list
{
    display: flex;
    gap:9px;
    margin-bottom: 12px;
}

.careers-list p
{
    margin-bottom: 1px;
}

@media all and (max-width:1020px) 
{
    .career-icons
    {
        flex-direction: column;
        gap: 5px !important;
    }
    .careers-list
    {
        flex-direction: column;
    }
}

.form-btn
{
   background-color: #4c7766;
   color: white;
   border: none;
   padding: 5px 50px;
   border-radius: 3px;
   font-weight: bold;
   text-decoration: none;
   text-align: center;
}

.form-btn:hover
{
    background-color: #345146;
    transition: 0.5s;
}

.form-btn:active
{
    background-color: #2d423b;
    transition: 0.5s;
}

