.casestudy-img
{
    height: 400px;
}

@media all and (max-width: 450px) 
{
  .casestudy-img
  {
      height: 350px;
  }
}

@media all and (max-width: 380px) 
{
  .casestudy-img
  {
      height: 300px;
  }
}

.casestudy-separate
{
  font-family: "Rubik Mono One", monospace;
  font-size: 30px;
  text-align: center;
  background-color: #163300;
  color: #9FE870;
}

@media all and (max-width: 1150px) 
{
  .casestudy-separate
  {
    font-size: 25px;
  }
}

@media all and (max-width: 850px) 
{
  .casestudy-separate
  {
    font-size: 23px;
  }
}

@media all and (max-width: 800px) 
{
  .casestudy-separate
  {
    font-size: 22px;
  }
}

@media all and (max-width: 650px) and (min-width:576px)
{
  .casestudy-separate
  {
    font-size: 19px;
  }
}