.faq
{
    background-color: #80e142 !important;
}

@media all and (max-width: 850px)
{
    .acc-title,.accordian-content
    {
        font-size: 18px !important;
    }
}

@media all and (max-width: 500px)
{
    .acc-title,.accordian-content
    {
        font-size: 15px !important;
    }
}