.header
{
    background-color: #edefeb;
    /* background-color: #ffd7ef; */
    /* background-color: #cdcfcc; */
    /* background-color: #9fe870; */
}

.header .title
{
    font-family: "Rubik Mono One", monospace !important; 
}

.header-img
{
    width: 150px;
    height: 100px;
}