.menus
{
   /* background-color: #9fe870; */
   background-color: #ffd7ef;
}

.navlink
{
    font-weight: bold;
    background-color:white;
    /* background-color: #edefeb !important; */
    /* background-color: #9fe870; */
    color: black !important;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
   
}