.menus
{
   background-color: #9fe870;
}

.navlink
{
    font-weight: bold;
    background-color: #edefeb !important;
    color: black !important;
    text-decoration: none;
    border-radius: 3px;
    padding: 3px;
   
}