@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
  font-family: "Montserrat", sans-serif;
}
/* Apply Bower for headings */
.page-title
{
  font-family: "Rubik Mono One", monospace;
  font-weight:900;
  font-size: 80px;
  text-align: center;
  background-color: #163300;
  color: #9FE870;
  padding: 40px 0px;
}

@media all and (max-width: 580px)
{
  .page-title
  {
    font-size: 60px;
  }
}

@media all and (max-width: 470px)
{
  .page-title
  {
    font-size: 50px;
  }
}

@media all and (max-width: 390px)
{
  .page-title
  {
    font-size: 42px;
  }
}

.career-cards,.career-icon,.our-team,.services
{
    background-color: #EDEFEB;
}

.common-btn
{
  background-color: #80E142;
}

.common-btn:hover
{
  background-color: #80E142;
  font-weight:bold !important;
}


.getTouch
{
  background-color: #EDB7B3;
}

.getInImage
{
  height: 400px;
}